<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>Sales Reporting and Prediction System </title>
   
     <!-- AngularJS Core -->
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
    <div ng-app="myapp" ng-controller="projectController" id="id_div_project_scope">
    <!--Navigation-->
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#addUserModal"><span class="glyphicon glyphicon-user"></span> Add User</a></li>
                <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
            </ul>
        </div>  <!-- /.container -->
    </nav>

    <!-- Main GUI -->
    <div class="jumbotron">
        <img src="~/Images/sampleLogo3.png" class="img-responsive center-block" alt="Responsive image" align="middle">

        <h1>PEOPLE HEALTH PHARMACY</h1>

        <!-- Button trigger modals -->
        <div class="saleButton">
            <p>
                <button type="button" class="btn btn-primary btn-xlarge" data-toggle="modal" data-target="#saleModal">
                    Add Sale
                </button>
            </p>
        </div>

        <div id="otherButtons" class="buttons">
            <ul class="list-inline">
                <li>
                    <button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#seeProductModal">
                        See Products
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#editProductModal">
                        Edit Products
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#reportsModal">
                        Generate Reports
                    </button>
                </li>
                <!-- Uncomment this button to generate sales -->
                <!--
                <li>
                    <button type="button" class="btn btn-primary btn-custom" ng-click="generateSales(Products)">Sale Generator</button> 
                </li>
                    -->    
            </ul>
        </div>
        <p>Products low in stock: </p>
    </div> <!-- /.jumbotron -->
    <!-- Footer -->
    <div id="footer">
        <footer>
            <p>&#169; Copyright People Health Pharmacy 2016</p>
        </footer>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add User</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form>
                            <div class="form-group">
                                <label for="newUserName">Enter new user name:</label>
                                <input type="text" class="form-control" id="NewUserName" />
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Enter new password:</label>
                                <input type="password" class="form-control" id="newPassword" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Create New User</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log in</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form>
                            <div class="form-group">
                                <label for="userName">User Name:</label>
                                <input type="text" class="form-control" id="userName" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <!-- Add Sale Modal-->
    <div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Sale</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txt_tosearch" id="lbl_tosearch">Search:</label>
                                <input type="text" id="txt_tosearch" ng-model="toSearch" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modalallcontainer scrollable">
                                            <table class="table table-hover table-scrollable">
                                                <thead>
                                                    <tr>
                                                        <th width="60%">Product</th>
                                                        <th width="20%">Quantity</th>
                                                        <th width="20%">Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Product in Products | orderBy: 'Name' | filter: toSearch" ng-click="addToSale(Product, SoldProducts)">
                                                        <td>{{Product.Name}}</td>
                                                        <td>{{Product.StockAmount}}</td>
                                                        <td>{{Product.SellPrice | currency}}</td>
                                                        <td><a href="#" data-toggle="modal" data-target="#addSaleModal"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modalallcontainer scrollable">
                                            <table class="table table-hover table-scrollable">
                                                <thead>
                                                    <tr>
                                                        <th width="60%">Product</th>
                                                        <th width="20%">Quantity</th>
                                                        <th width="20%">Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="SoldProduct in SoldProducts | orderBy: 'Name'" ng-click="removeFromSale(SoldProduct, Products)">
                                                        <td>{{SoldProduct.Name}}</td>
                                                        <td>{{SoldProduct.StockAmount}}</td>
                                                        <td>{{SoldProduct.SellPrice | currency}}</td>
                                                        <td><a href="#" data-toggle="modal" data-target="#addSaleModal"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Total Price: {{SaleTotalPrice | currency}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addTransaction(SoldProducts)">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- See Products Modal -->
    <div class="modal fade" id="seeProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">See Products</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="txt_tosearch" id="lbl_tosearch">Search:</label>
                                    <input type="text" id="txt_tosearch" ng-model="toSearch"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modalallcontainer scrollable">
                                        <table class="table table-hover table-scrollable">
                                            <thead>
                                                <tr>
                                                    <th width="60%">Product</th>
                                                    <th width="20%">Quantity</th>
                                                    <th width="20%">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Product in Products | orderBy: 'Name' | filter: toSearch">
                                                    <td>{{Product.Name}}</td>
                                                    <td>{{Product.StockAmount}}</td>
                                                    <td>{{Product.SellPrice | currency}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <h3>Add Product</h3>    
                                <div class="form-group">
                                    <label for="txt_addproductname" id="lbl_addproductname">Name:</label>
                                    <input type="text" class="form-control" id="txt_addproductname" ng-model="addName" />
                                </div>    
                                <div class="form-group">
                                        <label for="txt_addproductstock" id="lbl_addproductstock">Stock:</label>
                                        <input type="number" class="form-control" id="txt_addproductstock" ng-model="addStock" /> 
                                </div>
                                <div class="form-group">
                                        <label for="txt_addproductcheck" id="lbl_addproductcheck">Check:</label>
                                        <input type="number" class="form-control" id="txt_addproductcheck" ng-model="addCheck" />
                                </div>
                                <div class="form-group">
                                        <label for="txt_addproductprice" id="lbl_addproductprice">Price:</label>
                                        <input type="number" class="form-control" id="txt_addproductprice" step=".01" ng-model="addPrice" />
                                </div>
                                <div class="form-group">
                                        <textarea id="txt_addproductdesc" class="form-control" placeholder="Add description here..." ng-model="addDesc" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                        <button type="button" class="btn btn-primary" id="btn_addproduct" ng-click="addProduct(addName,addStock,addCheck,addPrice,addDesc)">Add Product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Products Modal -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Products</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="txt_tosearch" id="lbl_tosearch">Search:</label>
                                    <input type="text" id="txt_tosearch" ng-model="toSearch" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modalallcontainer scrollable">
                                        <table class="table table-hover table-scrollable">
                                            <thead>
                                                <tr>
                                                    <th width="60%">Product</th>
                                                    <th width="20%">Quantity</th>
                                                    <th width="20%">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Product in Products | orderBy: 'Name' | filter: toSearch" ng-click="fillTextboxes(Product)">
                                                    <td>{{Product.Name}}</td>
                                                    <td>{{Product.StockAmount}}</td>
                                                    <td>{{Product.SellPrice | currency}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <h3>Edit Product</h3>
                                <p>Product ID: {{editID}}</p>  
                               
                                <div class="form-group">
                                        <label for="txt_editproductname" id="lbl_editproductname">Name:</label>
                                        <input type="text" class="form-control" id="txt_editproductname" ng-model="editName" />
                                </div>
                                <div class="form-group">
                                        <label for="txt_editproductstock" id="lbl_editproductstock">Stock:</label>
                                        <input type="number" class="form-control" id="txt_editproductstock" ng-model="editStock" />
                                </div>
                                <div class="form-group">
                                        <label for="txt_editproductcheck" id="lbl_editproductcheck">Check:</label>
                                        <input type="number" class="form-control" id="txt_editproductcheck" ng-model="editCheck" />
                                </div>
                                <div class="form-group">
                                        <label for="txt_editproductprice" id="lbl_editproductprice">Price:</label>
                                        <input type="number" class="form-control" id="txt_editproductprice" step=".01" ng-model="editPrice" />
                                </div>
                                <div class="form-group">
                                        <textarea id="txt_editproductdesc" placeholder="Add description here..." ng-model="editDesc" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                        <button type="button" class="btn btn-primary" id="btn_editproduct" ng-click="editProduct(editID,editName,editStock,editCheck,editPrice,editDesc)">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Generate Reports Modal -->
    <div class="modal fade" id="reportsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Generate Reports</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- JavaScript File -->
    <script type="text/javascript" src="~/Scripts/project.js"></script>
</body>
</html>